{% extends 'base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block contain %}
    <h1 class = "text-center lista">Contacto Nº {{ contacto.id }}</h1>

  <div class="container text-center">
    <table class="table tabla">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contacto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ contacto.Nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ contacto.Apellido }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ contacto.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ contacto.Correo }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ contacto.Tipo }}</td>
            </tr>
            <tr>
                <th>Notas</th>
                <td>{{ contacto.Notas }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <div class="container text-center">
    <a href="{{ path('contacto_edit', {'id': contacto.id}) }}"><button type="button" class="btn btn-primary">Editar </button></a>
</div>

    
{% endblock %}
