{% extends 'base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block body %}
    <h1>Contacto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contacto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ contacto.Nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ contacto.Apellido }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ contacto.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ contacto.Correo }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ contacto.Tipo }}</td>
            </tr>
            <tr>
                <th>Notas</th>
                <td>{{ contacto.Notas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contacto_index') }}">back to list</a>

    <a href="{{ path('contacto_edit', {'id': contacto.id}) }}">edit</a>

    {{ include('contacto/_delete_form.html.twig') }}
{% endblock %}
